:root {
    --colorOne: #03045e;
    --colorTwo: #0077b6;
    --colorThree: #00b4d8;
    --colorFour: #90e0ef;
    --colorFive: #caf0f8;
    --colorSix: #ffffff;
    --colorSeven: #111111;
    --colorEight: #c81d25;
}


.navbar {
    display: flex;
    align-items: center;
    background-color: var(--colorSix);
    color: var(--colorThree);
    /* gap: 2%; */
}
  
.navbar a {
    color: var(--colorThree);
    text-decoration: none;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
}

.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}

.logo {
    height: 100px;
    margin-left: 2%;
    margin-right: 5%;
}

.title {
    font-family: Dancing Script;
    /* align-items: center; */
    /* text-align: center; */
    margin-right: 30%;
    font-size: 50px;
    font-weight: 900;
}
.logout{
    border: none;
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}