*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,600;1,700&family=Sen:wght@400;700;800&family=Special+Elite&display=swap');

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: -50px;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.auth-form-container, .login-form, .register-form, .passwordreset-form {
  display: flex;
  flex-direction: column;
  background: transparent;
  backdrop-filter: blur(15px);
  

}

/* @media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
} */

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: grey;
}

/* button {
  border: none;
  background-color: rgb(152, 152, 85);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
} */

/* .link-btn {
  background: none;
  color: yellow;
  text-decoration: underline;
} */
.login{
  border-radius: 10px;
  color: white;
  background-color: green;
  text-align: center;
  justify-content: center;
}
/* .login-text{
  color: azure;
} */

.login-title{
  color: black;
  text-decoration: none;
}

.login-links{
  color: rgb(167, 129, 202);
}

